faster-whisper
openai~=2.24.0
edge-tts
pygame~=2.5.2
sounddevice~=0.5.5
numpy~=1.26.4
python-dotenv~=1.0.0
pvporcupine
huggingface_hub~=1.4.1
psutil~=7.2.2
future~=1.0.0
pywin32~=311
pycaw~=20251023
comtypes~=1.4.15
screen_brightness_control~=0.27.0